html {
    background-image: url("../imgs/Carrousel-1.png");
    background-color: rgba(204, 204, 204, 1);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    padding: 0;
    font-size: 1.8rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr .7fr .2fr;
    grid-template-rows: .25fr 2fr .25fr;
    grid-template-areas: "h . ."
                         "x a ."
                         "f f f";
    width: 100%;
    height: 100%;
}
header{
    grid-area: h;
    width: 80%;
    background-color: rgba(255, 150, 0, .9);
    margin: 0 auto;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}
a{
    text-decoration: none;
    color: black;
}
.header_grid{
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr .5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "l1 l2 l3 i1 i2 i3";
    margin: 1em 1em 1em 1.5em;
    justify-items: center;
}
.header_grid_l1{
    grid-area: l1;
}
.header_grid_l2{
    grid-area: l2;
}
.header_grid_l3{
    grid-area: l3;
}
.header_grid_i1{
    grid-area: i1;
    position: relative;
}
.header_grid_i2{
    grid-area: i2;
    position: relative;
}
.header_grid_i3{
    grid-area: i3;
    position: relative;
}
.circulo{
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    top: -15%;
    right: -19.6%;
    border-radius: 100%;
    box-shadow: 0 0 0 .1em var(--color_primary_darker);
}
.circulo:hover{
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
}
section{
    grid-area: a;
    align-self: end;
    background-color: rgba(163, 181, 204, .9);
    font-size: 1.6rem;
}
#section{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
.aside_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr;
    grid-template-areas: "b1 b2"
                         "a a";
}
#p_buttonLogon{
    grid-area: b1;
    border-top-left-radius: 1.5em;
    color: var(--color_primary_darker);
    text-align: center; 
    background-color: var(--color_primary_double);
    height: 105%;
    transform: translate(-0%, -5%);
}
#p_buttonLogon:hover{
    background-color: var(--color_primary_double);
    color: var(--color_primary_darker_hover);
    height: 105%;
    transform: translate(-0%, -5%);
}
#p_criarConta{
    grid-area: b2;
    border-top-right-radius: 1.5em;
    background-color: var(--color_primary_darker);
    color: var(--color_secondary_double);
    width: 100%;
    height: 100%;
    text-align: center;
}
#p_criarConta:hover{
    background-color: var(--color_primary_darker);
    color: var(--color_secondary_dark);
    height: 105%;
    transform: translate(0px, -5%);
}
#containerLogon{
    grid-area: a;
    width: 80%;
    height: 350px;
    margin: 0 1em;
    padding: 0 1.2em 0 .5em;
}
#container_criarConta{
    grid-area: a;
    width: 80%;
    height: 350px;
    margin: 0 1em;
    padding: 0 1.2em 0 .5em;
}          
#backgroundAside{
    justify-self: center;
    grid-area: a;
    align-self: center;
    height: 60vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
footer{
    grid-area: f;
    background-color: var(--color_primary_dark);
    font-size: 1.2rem;
    padding-top: 1em;
}
.footer_grid{
    display: grid;
    grid-template-columns: .3fr .1fr .2fr .2fr .2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "d . l1 l2 l3";   
    text-align: center;
    justify-content: space-evenly;
}
.footer_grid_d{
    grid-area: d;
}
.footer_grid_l1{
    grid-area: l1;
}
.footer_grid_l2{
    grid-area: l2;
}
.footer_grid_l3{
    grid-area: l3;
}
#container_criarConta{
    display: none;
}
select, input:not([data-attr="checkbox"]){
    padding: 10px 7px;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: var(--color_secondary_double);
    background-color: transparent;
    outline: none;
    width: 100%;
}
select:focus, input:not([data-attr="checkbox"]):focus{
    background-color: #fff;
}
select{
    width: 104.5%;   
}
select:invalid{
    color: gray; 
}
button{
    margin: 1em 50% .3em 50%;
    transform: translate(-40%, 0);    
    padding: .8em 1.3em;
    border-style: none;
    border-radius: .7em;
    background-color: var(--color_secondary_double);
    color: var(--color_primary_darker);
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.6rem;
}
#check_mantConect{
    transform: translate(0px, 1.6px);
}
button:hover{
    color: var(--color_primary_darker_hover);
}
.login_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: "l1 l1"
                         "i1 i1"
                         "l2 l2"
                         "i2 i2"
                         "l3 l3"
                         "i3 i3"
                         "l4 ll4"
                         "l5 l5"
                         "l6 l6"
                         "l7 l7";
}
.login_grid_l1{
    grid-area: l1;
    margin: .1em 0 .2em 2em;
}
.login_grid_i1{
    grid-area: i1;
    margin: .1em 0 .2em 0em;
}
.login_grid_l2{
    grid-area: l2;
    margin: .1em 0 .2em 2em;
}
.login_grid_i2{
    grid-area: i2;
    margin: .1em 0 .2em 0em;
}
.login_grid_l3{
    grid-area: l3;
    margin: .1em 0 .2em 2em;
}
.login_grid_i3{
    grid-area: i3;
    margin: .1em 0 .2em 0em;
}
.login_grid_l4{
    grid-area: l4;
    font-size: 1.1rem;
    margin: .1em 0 .2em 0em;
}
.login_grid_ll4{
    grid-area: ll4;
    justify-self: end;
    align-self: end;
    font-size: 1.1rem;
    margin: .1em 0 .2em 0em;
}
.login_grid_l5{
    grid-area: l5;
    margin: .1em 0 .2em 0em;
}
.login_grid_l6{
    grid-area: l6;
    margin: 0;
}
.login_grid_l7{
    grid-area: l7;
    margin: .1em 0 .2em 0em;
    justify-self: center;
    width: 80%;
}
.termos{
    font-size: .99rem;
    color: #6a88af;
    text-align: left;
}
#backgroundAside a.termos.Laranja{
    color: var(--color_secondary_double);
}
#backgroundAside a.termos.Laranja:hover{
    color: var(--color_secondary_dark);
}
.posicaoAjuda{
    position: relative;
    height: 25px;
}
.Ajuda{
    margin: 0;
    position: absolute;
    color: var(--color_secondary_double);
    font-size: 2.6rem;
    right: -0.05em;
    top: 0em;
    padding: 3px 10px;
    cursor: pointer;
}
.quadradoAjuda{
    width: 2em;
    height: 2.3em;
    position: relative;
    margin: 1em;
    left: calc(100% - 48px);
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    bottom: 100%;
} 
#quadradoAjuda_login{
    background-color: var(--color_primary_dark);
    top: -20%;
}
#quadradoAjuda_login:hover{
    background-color: var(--color_primary_darker_hover);
}
#quadradoAjuda_cadastro{
    background-color: var(--color_primary);
    top: 26%;
    display: none;
}
#quadradoAjuda_cadastro > .Ajuda{
    color: var(--color_secondary_dark);
}
#quadradoAjuda_cadastro:hover{
background-color: var(--color_primary_double);
}
#p_criarConta:hover, #p_buttonLogon:hover{
    cursor: pointer;
}
header, #backgroundAside, #p_buttonLogon, #p_criarConta, footer{
    font-weight: Bold;
}
.darkBlue_label, #backgroundAside, #backgroundAside a{
    color: var(--color_primary_darker);
}
.darkBlue_label{
    padding: 10px 3px;
}
.darkBlue_label:hover{
    background-color: var(--color_secondary_dark);
    border-radius: 3px;
}
#backgroundAside a:hover, #backgroundAside a label:hover, .primaryDouble_label:hover, .darkBlue_label:hover{
    color: var(--color_primary_darker_hover);
    cursor: pointer;
}
.noLink{
    color: var(--color_primary_double);
}
.primaryDouble_label{
    color: var(--color_primary_double)
}
.cadastro_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: "l1 l1"
                         "i1 i1"
                         "l2 ll2"
                         "i2 ii2"
                         "l3 ."
                         "i3 i3"
                         "l4 ll4"
                         "i4 ii4"
                         "l5 ."
                         "i5 i5"
                         "l6 l6"
                         "i6 i6"
                         "l7 l7"
                         "l8 l8"
                         "l9 l9";
    text-align: center;
}
.cadastro_grid_l1{
    grid-area: l1;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_i1{
    grid-area: i1;
    margin: .1em 0 .2em 0;
}
.cadastro_grid_l2{
    grid-area: l2;
    margin: .1em 0 .2em 0;
}
.cadastro_grid_i2{
    grid-area: i2;
    width: 90%;
    margin: .1em 0 .2em 0;
}
.cadastro_grid_ll2{
    grid-area: ll2;
    margin: .1em 0 .2em 0;
}
.cadastro_grid_ii2{
    grid-area: ii2;
    width: 90%;
    justify-self: end;
    margin: .1em 0 .2em 0;
}
.cadastro_grid_l3{
    grid-area: l3;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_i3{
    grid-area: i3;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_l4{
    grid-area: l4;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_i4{
    grid-area: i4;
    width: 90%;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_ll4{
    grid-area: ll4;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_ii4{
    grid-area: ii4;
    width: 90%;
    justify-self: end;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_l5{
    grid-area: l5;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_i5{
    grid-area: i5;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_l6{
    grid-area: l6;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_i6{
    grid-area: i6;
    margin: .1em 0 .2em 0em;
}
.cadastro_grid_l7{
    grid-area: l7;
}
.cadastro_grid_l8{
    grid-area: l8;
    margin: 0;
}
.cadastro_grid_l9{
    grid-area: l9;
    margin: .1em 0 .2em 0em;
    justify-self: center;
    width: 80%;
}
/* SCROLL BAR STYLE */
#backgroundAside::-webkit-scrollbar {
    width: .5em;
}  
/* Track */
#backgroundAside::-webkit-scrollbar-track {
    background: var(--color_primary_darker_hover);
    margin: .5em;
    border-radius: 1em;
}
/* Handle */
#backgroundAside::-webkit-scrollbar-thumb {
    background: var(--color_secondary_double);
    border-radius: 1em;
}
/* Handle on hover */
#backgroundAside::-webkit-scrollbar-thumb:hover {
    background: var(--color_secondary_dark);
}
@media (max-width: 1024px){
    .cadastro_grid_l4{
        font-size: 1.5rem;
    }
    .login_grid_l4{
        width: 120%;
    }
}
@media (max-width: 990px){
    input:not([data-attr="checkbox"]){
        width: 98%;
    }
}
@media (max-width: 900px){
    .login_grid{
        grid-template-areas: "l1 l1"
                             "i1 i1"
                             "l2 l2"
                             "i2 i2"
                             "l3 l3"
                             "i3 i3"
                             "l4 l4"
                             "ll4 ll4"
                             "l5 l5"
                             "l6 l6"
                             "l7 l7";
    }
    .login_grid_ll4{
        justify-self: start;
        margin-left: 2.2em;
    }
}
@media (max-width: 768px){
    #container_criarConta{
        font-size: 1.5rem;
    }
    .cadastro_grid_l4{
        font-size: 1.1rem;
        align-self: center;
    }
    .cadastro_grid_l1{
        font-size: 1.3rem;
    }
    #containerLogon input:not([data-attr="checkbox"]){
        width: 97%;
    }
    select{
        width: 102%;
    }
}
@media (max-width: 740px){
    body{
        grid-template-columns: .3fr 1fr .3fr;
        grid-template-rows: .25fr 2fr .25fr;
        grid-template-areas: "h h h"
                             ". a ."
                             "f f f";
    }
    #section{
        align-self: auto;
        margin: 1em;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    #backgroundAside{
        height: 65vh;
        margin-bottom: 1.25em;
    }
    header{
        width: 85%;
        background-color: var(--color_secondary_double);
    }
    footer{
        padding-top: 1.4em;
    }
    .footer_grid{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr .5fr;
        grid-template-areas: "d d d"
                             "l1 l2 l3";   
        margin: 0 1em 1em 1em;
        font-size: 1rem;
    }
    .footer_grid_l3{
        width: 110%;
        margin-left: -.5em;
        align-self: center;
    }
    .footer_grid_l1{
        align-self: center;
    }
    .footer_grid_l2{
        align-self: center;
    }
}
@media (max-width: 530px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: .25fr 2fr .25fr;
        grid-template-areas: "h h"
                             "a a"
                             "f f";
    }
    header{
        width: 100%;
        background-color: var(--color_secondary_double);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@media (max-width: 320px){
    footer{
        padding-top: .8em;
    }
    .footer_grid{
        font-size: .9rem;
    }
}

/* ANIMAÇÕES */
@keyframes logonAnim {
    from {
        background-color: rgba(0, 55, 76, .9);
    }
    to {
        background-color: rgba(163, 181, 204, .9);
    }
}
@keyframes cadastroAnim {
    from {
        background-color: rgba(163, 181, 204, .9);
    }
    to {
        background-color: rgba(0, 55, 76, .9);
    }
}
@keyframes logonAjuda {
    from {
        background-color: var(--color_primary);
    }
    to {
        background-color: var(--color_primary_dark);
    }
}
@keyframes cadastroAjuda {
    from {
        background-color: var(--color_primary_dark);
    }
    to {
        background-color: var(--color_primary);
    }
}